= simple_form_for @invite, url: invites_path, method: :post, html: {class: "form-horizontal"} do |f|
  = f.label "Invite your friends"
  = f.input :email, placeholder: "Email", label: false
  = f.button :submit
