= simple_form_for @signup_form, url: users_path, method: :post, html: {class: 'form-horizontal'} do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  .pull-right
    = link_to t('.login'), new_session_path, class: 'btn btn-default'
    = f.button :submit, class: 'btn-primary'
