= simple_form_for @signin_form, url: session_path, method: :post, html: {class: 'form-horizontal'} do |f|
  = f.input :email
  = f.input :password
  .pull-right
    = link_to t('.signup'), new_user_path
    = f.button :submit
